.card {
    background-color: rgba(253, 234, 213, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(26, 43, 57, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(26, 43, 57, 0.2);
    transform: translateY(-10px);
}

.card__image {
    width: 100%;
    height: auto;
    display: block;
    backface-visibility: hidden;
}

.card__title {
    font-size: 20px;
    margin: 15px;
    font-weight: bold;
    color: #1a2b39;
    transform-style: preserve-3d;
}

.card__description {
    font-size: 16px;
    margin: 15px;
    color: #58aaab;
    transform-style: preserve-3d;
}

.card:hover .card__title {
    transform: translateY(-10px);
}

.card:hover .card__description {
    transform: translateY(-10px);
}
