.header {
    display: flex;
    flex-direction: column;
}

.header__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/header-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 680px;
}

.header__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(to top, rgba(253, 234, 213, 0.9), rgba(253, 182, 158, 0.9));
    height: 200px;
    width: 500px;
}
.header__title {
    font-size: 60px;
    line-height: 65px;
    margin: 0;
}

.header__subtitle {
    font-size: 30px;
    line-height: 35px;
    margin: 0 20px 0;
}
