.recommend {
    height: auto;
    text-align: center;
    margin: 30px;
}

.recommend__title {
    font-size: 40px;
    line-height: 45px;
}

.recommend__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto;
    /* set two rows with automatic height */
    gap: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    /* center items vertically */
}
